* {
  box-sizing: border-box;
  margin: 0;
  font-size: 10px;
  list-style-type: none;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: white;
}

.wrapper {
  padding: 100px 0;
  background-color: #23424a;
}

.hero-section {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.hero-section h1 {
  font-size: 4.8rem;
}

.hero-section p {
  padding: 10px 0;
  font-size: 2.1rem;
}

/* Utility */
.row {
  display: flex;
  gap: 30px;
}

.btn {
  background-color: #38cfd9;
  border-radius: 360px;
  width: 250px;
  text-align: center;
  margin: 30px 0;
  display: inline-block;
}

.btn:hover {
  background-color: #beccc9;
}

.btn span {
  font-size: 2.1rem;
  line-height: 50px;
  color: #136c72;
}

.hero__text a, .nav__link {
  text-decoration: none;
}

.hero__text {
  width: 60%;
}

.hero__image {
  display: inline-block;
  align-self: flex-start;
}

.mid-sec {
  display: flex;
  text-align: center;
  padding: 100px;
}

.mid_text,
.r-col { 
  color: #333;
}

.mid-sec h2 {
  font-size: 4rem;
}

.mid-sec p {
  font-size: 1.7rem;
}

.mid_text {
  text-align: left;
  padding: 20px;
}

.mid_text h2,
.r-col h2 {
  padding: 20px 0;
}

.r-col {
  background-color: #136c72;
  color: #fff;
  padding: 20px;
}

/* Nav bar */
#nav {
  background-color: #136c72;
 }

.nav__list {
  padding: 0;
  display: flex;
  gap: 2rem;
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;   
  padding: 20px 0;
  align-items: center;
 }

.nav__link {   
  font-size: 2.4rem;
  padding: 10px;
  color: #fff;
 }

.nav__link--button {
  background-color: #38cfd9;
  border-radius: 200px;
  color: #136c72;
 }

 
 
.nav__list--right {
justify-content: flex-end;    
}

.nav__list--left {
  margin: 0 auto;
  /* background-color: #333; */
  justify-content: flex-end;
}